body{
    text-align: center;
    background: linear-gradient(45deg, #000000, #7b7575, #888686, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
pre{
    display: inline;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    transition: 1s;
}
table{
    padding: 25px;
    margin: 0px;
    text-align: center;
    width:100%;
    row-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
button{
    margin: 10px;

    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    color:white;
    
}
th { width: 600px;}
.menu{
    background-color: lightseagreen;
    transition: 500ms;
}
.intro{
    width: 400px;
    /*height: 300px;*/
}
.menu:hover{ border-radius: 200px;}
.reveal{
    background-color: blue;
    border-radius: 10px;
}
.reveal:hover {background: darkblue; }
#slideshow{
    height: 500px;
    width: 850px;
}
#next{
    height: 50px;
    width: 150px;
    background-color: green;
    transition: 1s;
    border-radius: 5px;
}
#next:hover{ width: 200px;}

.fadein{
    animation-name: fadein;
    animation-duration: 1s;
}
.fadeout{
    animation-name: fadeout;
    animation-duration: 1s;
}

@keyframes fadein{
    from{opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeout{
    from{opacity: 1;}
    to{opacity:0;}
}
@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% { background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
  